# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../pythonProject1\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\velda\PycharmProjects\pythonProject1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
